language: erlang
otp_release:
    - 19.0
install:
    - wget https://s3.amazonaws.com/rebar3/rebar3
    - chmod +x rebar3
script:
    - ./rebar3 version
    - ./rebar3 as test dialyzer, xref, ct, cover, coveralls send
    - ./rebar3 release
    - ./_build/default/rel/stw/bin/stw start
    - ./_build/default/rel/stw/bin/stw stop
notifications:
    email:
        recipients:
            - mikeyhc@atmosia.net
