{erl_opts, [debug_info, {i, "include"}]}.
{deps,
 [{cowboy, {git, "https://github.com/ninenines/cowboy", {branch, master}}},
  {jiffy, {git, "https://github.com/davisp/jiffy", {branch, master}}},
  {qdate, {git, "https://github.com/choptastic/qdate", {branch, master}}}
 ]}.
{plugins,
 [{coveralls, {git, "https://github.com/markusn/coveralls-erl",
               {branch, master}}}
 ]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "travis-ci"}.
{relx, [{release, {stw, "0.1.0"}, [stw]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.

{profiles,
 [{test, [{xref_checks, [undefined_function_calls,undefined_functions,
                         locals_not_used,deprecated_function_calls,
                         deprecated_functions]}]}]}.
